/* Feuille de style */
/* Loic Sitti dec-2019 */

/* ---- Fonts / Police ---- */

@font-face {
  font-family: 'square';
}

/* ---- Hero / Cover ---- */

.main-demo-hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('../images/bas.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position:  center bottom;
}

.main-demo-hero .bg-overlay {
  background: none;
}

.navbar-brand {
  margin-top : 3px;
}

.navbar .navbar-nav li a {
  color: black;
}

.navbar-right .dropdown-menu {
  right: 10px;
}

.hero-content {
  text-align: center;
}

.hero-content h1 img {
  width: 2em;
}

.main-demo-hero .hero-content-wrapper {
    padding-left: 0%;
}

.hero-content-wrapper .hero-content .hero-subheading {
  margin-top: 30px;
}

.main-demo-hero .hero-content-wrapper .hero-content .hero-subheading {
    margin-top: 30px;
    margin-bottom: 10px;
}

h4.hero-subheading {
  font-family: square, "Open Sans","Helvetica Neue",Helvetica,sans-serif;
	font-size: 1.3em;
	letter-spacing: 2px;
}

.main-demo-hero .hero-content-wrapper .hero-content .hero-subheading {
	color: black;
}

.cap_t {color:rgba(12, 8, 228, 0.815);}
.cap_w {color:rgb(12, 132, 148);}
.cap_g {color:rgb(165, 62, 3);}

/* test pour integrer mon future poste 
.poste_actuel {
	display : block;
	width: 250px;
	margin : auto;
	margin-top : 20px;
	padding: 10px;
	line-height: 20px;
	border: 3px solid black;
	color: black;
	letter-spacing: 1px;
	background-color: rgba(255,255,255,1);
	font-family: "Open Sans","Helvetica Neue",Helvetica,sans-serif;
	text-transform: uppercase;
	font-size: .75em;
	font-weight: 400;
	letter-spacing: 1px;
}

*/

.scroller-dark {
  color: black;
}

/* ---- Services / Competences ---- */

.servicecard1 {
  border-top: 5px solid rgb(8, 5, 202);
}
.servicecard2 {
  border-top: 5px solid rgb(3, 153, 141);
}
.servicecard3 {
  border-top: 5px solid rgb(161, 63, 6);
}

section.ft-cards .ft-item {
text-align: center;
}
section.ft-cards .ft-item p {
text-align: left;
}

.collab .col-md-6 {
	text-align: center;
}
	
/* ---- Portfolio ---- */

section.portfolio-layout {
margin-top: 0;
padding-top: 75px;
}
section.portfolio_page {
margin-top: 0;
padding-top: 0;
}

.portfolio-columns-fw .portfolio-item figure figcaption {
    background: rgba(17, 17, 17, .95) none repeat scroll 0% 0%;
}

/* ---- Contact ---- */

#contact header{
	margin-bottom: 15px;
}

.contact_infos {
	padding: 10px 0;
}
.contact_infos .ws-s {
	padding-bottom: 15px;
}

.ft-x .ft-item span {
	margin: 10px 10px 0 0;
	width: 100%;
}

#contact .section h5{
	margin-bottom: 10px;
}

#contact div.col-md-12 {
	text-align: center; line-height: 15px;
}

#contact div.contact_form {
	text-align: left;
}

#contact .section p{
	text-transform: uppercase;
	letter-spacing: 2px;
}

#contact .section p a{
	color: #777;
}

#contact p.places{
	color: #BBB;
}


.et-map-pin {color: #45B29D;}
.linea-basic-mail {color: #EFC94C;}
.et-phone {color:#E27A3F;}

.social {
padding-bottom: 0;
}

.social div span img {
margin-top: -10px;
width: 48px;
}

.ft-x .ft-item, .ft-y .ft-item {
    text-align: center;
}

/* ---- Page CV ---- */

.ft-centered .ft-square-frame-dark span.bts {background: rgb(0, 28, 155); }
.ft-centered .ft-square-frame-dark span.licence {background: rgb(0, 146, 156); }
.ft-centered .ft-square-frame-dark span.master {background: rgb(167, 61, 0); }

.cta-link .bg-overlay  {
  background: #F8F8F8 url('../images/bas.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position:  center bottom;
}

/* ---- contact page ---- */

.form-group textarea {
  resize: vertical;
}


/* ---- Plan du site ---- */

.plan_site_links a {
color: #333;
}
.plan_site_links a:hover {
text-decoration : underline;
}


.ft-centered .social1:hover span {border-color: rgb(0, 22, 148);}
.ft-centered .social2:hover span {border-color: rgb(0, 133, 126);}
.ft-centered .social3:hover span {border-color: rgb(165, 72, 17);}

div.pic_cv_page img{
width: 100%;
}

div.txt_cv_page {
text-align: justify
}


.cta-link .cta-wrapper {
    padding-bottom: 250px;
}

/* ---- RESPONSIVE ---- */
@media (max-width: 1200px) {
  .hero-lead img {
	width: 180px;
  }
}

@media (max-width: 770px) {
  .hero-lead img {
	width: 100px;
  }
  h4.hero-subheading {
	font-size: 1em;
  }
  .scroller {
	visibility: hidden;
  }
  .freelancer-about figure img {
	width: 200px;
  }
  .main-demo-hero .hero-content-wrapper, 
  .main-demo-hero .hero-content-wrapper .hero-content {
	padding-left : 0 ; 
	padding-right : 0 ; 
  }
}